@import '~@styles/variables/fonts';
@import '~@styles/utilities/layout';

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  &__header {
    @include sans-serif;
    @include center-inside;
    @include font-size(lg);
    padding: 1rem 0 0.5rem;
    font-weight: 600;
  }
  &__body {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
  }
}

.card--sm {
  min-width: 256px;
}
.card--md {
  min-width: 512px;
}
.card--wide {
  min-width: 512px;
  width: 75%;
}
