@import '../variables/colors';
@import '../variables/fonts';

.form {
  @include sans-serif;
}

.form__fieldset {
  border: 0;
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  height: 3rem
}

.form__fieldset__label {
  @include font-size(md);
  top: 1rem;
  position: absolute;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
  color: $dark-grey;
}

.form__fieldset:focus-within .form__fieldset__label,
.form__fieldset--active .form__fieldset__label {
  @include font-size(sm);
  top: 0;
}

.form__fieldset:focus-within .form__fieldset__label {
  color: $focus-color;
}

.form__fieldset__input {
  @include font-size(md);
  padding-top: 1.3rem;
  min-width: 80px;
  width: 100%;
  border: 0;
  border-bottom: 1px $light-grey solid;
  transition: border-color 0.2s;
  position: relative;
  z-index: 1;
  background: transparent;
  &:focus {
    border-bottom: 2px $focus-color solid;
    padding-bottom: 1px;
    outline: none;
  }
}

.form__submit {
  @include sans-serif;
  @include font-size(lg);
  width: 100%;
  padding: .5rem;
  border: 0;
  background-color: $primary-action-color;
  color: $light-color;
  transition: background-color 0.3s;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $primary-action-color--active;
    outline: none;
  }
}
