$light-blue: #eef5f8;
$blue: #87cadd;
$orange: #d38117;
$light-brown: #996224;
$brown: #614321;
$light-grey: #ccc;
$dark-grey: #a1a1a1;
$black: #262626;

$focus-color: $blue;
$primary-action-color: $brown;
$primary-action-color--active: $light-brown;
$light-color: $light-blue;
